/* Normalization */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Global & Dark Mode */

body {
    background-color: #fff;
    color: #222;
    font-family: 'Noto Sans TC', sans-serif, serif;
    font-size: 1.75rem;
    font-weight: 400;
    margin: 0 10%;
}

body.darkMode {
    background-color: #222;
    color: #fff;
    font-family: 'Noto Sans TC', sans-serif, serif;
    font-size: 1.75rem;
    font-weight: 300;
    margin: 0 10%;
}

@media (prefers-color-scheme: dark) {
    body.lightMode {
        background-color: #fff;
        color: #222;
        font-family: 'Noto Sans TC', sans-serif, serif;
        font-size: 1.75rem;
        font-weight: 400;
        margin: 0 10%;
    }
    
    body {
        background-color: #222;
        color: #fff;
        font-family: 'Noto Sans TC', sans-serif, serif;
        font-size: 1.75rem;
        font-weight: 300;
        margin: 0 10%;
    }
}

a {
    color: #666;
}

a.darkMode {
    color: #ccc;
}

@media (prefers-color-scheme: dark) {
    a.lightMode {
        color: #666;
    }
    
    a {
        color: #ccc;
    }
}

.interactive {
    background-color: #eee;
    border-color: #444;
    border-radius: 1.75rem;
    border-style: solid;
    border-width: 2px;
    color: #444;
    cursor:pointer;
    font-family: inherit;
    font-size: 1.75rem;
    font-weight: inherit;
    height: 3.25rem;
    margin: 0.5rem auto;
    padding: 0 1rem;
}

.interactive.darkMode{
    background-color: #333;
    border-color: #fff;
    border-radius: 1.75rem;
    border-style: solid;
    border-width: 2px;
    color: #fff;
    cursor:pointer;
    font-family: inherit;
    font-size: 1.75rem;
    font-weight: inherit;
    height: 3.25rem;
    margin: 0.5rem auto;
    padding: 0 1rem;
}

.interactive:hover {
    background-color: #fff;
}

.interactive.darkMode:hover {
    background-color: #444;
}

.interactive:active{
    background-color: #ddd;
}

.interactive.darkMode:active {
    background-color: #222;
}

@media (prefers-color-scheme: dark) {
    .interactive.lightMode {
        background-color: #eee;
        border-color: #444;
        border-radius: 1.75rem;
        border-style: solid;
        border-width: 2px;
        color: #444;
        cursor:pointer;
        font-family: inherit;
        font-size: 1.75rem;
        font-weight: inherit;
        height: 3.25rem;
        margin: 0.5rem auto;
        padding: 0 1rem;
    }
    
    .interactive {
        background-color: #333;
        border-color: #fff;
        border-radius: 1.75rem;
        border-style: solid;
        border-width: 2px;
        color: #fff;
        cursor:pointer;
        font-family: inherit;
        font-size: 1.75rem;
        font-weight: inherit;
        height: 3.25rem;
        margin: 0.5rem auto;
        padding: 0 1rem;
    }
    
    .interactive.lightMode:hover {
        background-color: #fff;
    }
    
    .interactive:hover {
        background-color: #444;
    }
    
    .interactive.lightMode:active{
        background-color: #ddd;
    }
    
    .interactive:active {
        background-color: #222;
    }
}

/* Header */

header {
    margin: 5rem auto;
}

h1, h2 {
    letter-spacing: normal;
    line-height: 50%;
}

/* Navigation */

nav {
    margin: 5rem auto;
}


/* Main: General */

section + hr {
    margin: 5rem auto;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

li {
    list-style-type: square;
    margin: 0.5rem auto;
}

strong {
    font-weight: 700;
}

/* Main: Font Demo Controller Container */

#fontDemoControllerContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}


#listGridToggle {
    flex-basis: 10rem;
    flex-shrink: 0;
}

#customTextInput {
    flex: 1;
    min-width: 0;
    overflow: hidden;
}


#fontSizeDropdownMenu {
    flex-basis: 10rem;
    flex-shrink: 0;
}

#fontSizeSlider {
    flex: 1;
    min-width: 0;
    overflow: hidden;
}


/* Main: Font Display */

.listView {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.gridView {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

@media (max-width: 1080px) {
    .gridView {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }
}

.listView div {
    border: 1px solid transparent;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
}

.gridView div {
    border: 1px solid #999;
    border-radius: 10px;
    min-width: 0;
    overflow: hidden;
    padding: 20px;
}

#fontDemo dt {
    font-size: 1.25rem;
}

#fontDemo dd {
    display: inline-block;
    font-size: 1.75rem;
    margin: 0.5rem auto;
}

.Thin_100 {
    font-weight: 100;
}

.Light_300 {
    font-weight: 300;
}

.Regular_400 {
    font-weight: 400;
}

.Medium_500 {
    font-weight: 500;
}

.Bold_700 {
    font-weight: 700;
}

.Black_900 {
    font-weight: 900;
}


/* Footer */

footer {
    margin: 5rem auto;
    text-align: center;
}