/* Body */

body {
    background-color: #fff;
    color: #222;
    font-family: 'Noto Sans TC', sans-serif, serif;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0 10%;
}

/* Header */

header {
    margin: 5rem auto;
}

h1, h2 {
    letter-spacing: normal;
    line-height: 50%;
}

/* Navigation */

nav {
    margin: 5rem auto;
}

button {
    background-color: #eee;
    border-color: #444;
    border-radius: 5px;
    border-width: 2px;
    color: #444;
    cursor:pointer;
    font-family: 'Noto Sans TC', sans-serif, serif;
    font-size: 1.5rem;
    font-weight: 400;
}

/* Main: General Elements */

a {
    color: #666;
}

dl {
    margin-left: 2.5rem;
}

hr {
    margin: 5rem auto;
}


img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

li {
    list-style-type: square;
    margin: 0.5rem auto;
}


/* Main: Font Display */

.dl_item {
    margin: 2rem auto;
}

.Thin_100 {
    font-weight: 100;
}

.Light_300 {
    font-weight: 300;
}

.Regular_400 {
    font-weight: 400;
}

.Medium_500 {
    font-weight: 500;
}

.Bold_700 {
    font-weight: 700;
}

.Black_900 {
    font-weight: 900;
}



/* Footer */

footer {
    margin: 5rem auto;
    text-align: center;
}