/* Global & Dark Mode */

body {
    background-color: #fff;
    color: #222;
    font-family: 'Noto Sans TC', sans-serif, serif;
    font-size: 1.75rem;
    font-weight: 400;
    margin: 0 10%;
}

body.darkMode {
    background-color: #222;
    color: #fff;
    font-family: 'Noto Sans TC', sans-serif, serif;
    font-size: 1.75rem;
    font-weight: 300;
    margin: 0 10%;
}

@media (prefers-color-scheme: dark) {
    body.lightMode {
        background-color: #fff;
        color: #222;
        font-family: 'Noto Sans TC', sans-serif, serif;
        font-size: 1.75rem;
        font-weight: 400;
        margin: 0 10%;
    }
    
    body {
        background-color: #222;
        color: #fff;
        font-family: 'Noto Sans TC', sans-serif, serif;
        font-size: 1.75rem;
        font-weight: 300;
        margin: 0 10%;
    }
}

a {
    color: #666;
}

a.darkMode {
    color: #ccc;
}

@media (prefers-color-scheme: dark) {
    a.lightMode {
        color: #666;
    }
    
    a {
        color: #ccc;
    }
}

button, input, select {
    margin: 0.5rem auto;
}

button {
    background-color: #eee;
    border-color: #444;
    border-radius: 1.75rem;
    border-style: solid;
    border-width: 2px;
    color: #444;
    cursor:pointer;
    font-family: inherit;
    font-size: 1.75rem;
    font-weight: inherit;
    padding: 0 1rem;
}

button.darkMode{
    background-color: #333;
    border-color: #fff;
    border-radius: 1.75rem;
    border-style: solid;
    border-width: 2px;
    color: #fff;
    cursor:pointer;
    font-family: inherit;
    font-size: 1.75rem;
    font-weight: inherit;
    padding: 0 1rem;
}

button:hover {
    background-color: #fff;
}

button.darkMode:hover {
    background-color: #444;
}

button:active{
    background-color: #ddd;
}

button.darkMode:active {
    background-color: #222;
}

@media (prefers-color-scheme: dark) {
    button.lightMode {
        background-color: #eee;
        border-color: #444;
        border-radius: 1.75rem;
        border-style: solid;
        border-width: 2px;
        color: #444;
        cursor:pointer;
        font-family: inherit;
        font-size: 1.75rem;
        font-weight: inherit;
        height: 50px;
        padding: 0 1rem;
    }
    
    button {
        background-color: #333;
        border-color: #fff;
        border-radius: 1.75rem;
        border-style: solid;
        border-width: 2px;
        color: #fff;
        cursor:pointer;
        font-family: inherit;
        font-size: 1.75rem;
        font-weight: inherit;
        height: 50px;
        padding: 0 1rem;
    }
    
    button.lightMode:hover {
        background-color: #fff;
    }
    
    button:hover {
        background-color: #444;
    }
    
    button.lightMode:active{
        background-color: #ddd;
    }
    
    button:active {
        background-color: #222;
    }
}

input {
    background-color: #eee;
    border-color: #444;
    border-radius: 1.75rem;
    border-style: solid;
    border-width: 2px;
    color: #444;
    cursor: text;
    font-family: inherit;
    font-size: 1.75rem;
    font-weight: inherit;
    height: 46px;
    padding: 0 1rem;
}

input.darkMode {
    background-color: #333;
    border-color: #fff;
    border-radius: 2.5rem;
    border-style: solid;
    border-width: 2px;
    color: inherit;
    cursor: text;
    font-family: inherit;
    font-size: 1.75rem;
    font-weight: inherit;
    height: 46px;
    padding: 0 1rem;
}

input:hover {
    background-color: #fff;
}

input.darkMode:hover {
    background-color: #444;
}

input:focus {
    background-color: #ddd;
}

input.darkMode:focus {
    background-color: #222;
    outline: none;
}

@media (prefers-color-scheme: dark) {
    input.lightMode {
        background-color: #eee;
        border-color: #444;
        border-radius: 1.75rem;
        border-style: solid;
        border-width: 2px;
        color: #444;
        cursor: text;
        font-family: inherit;
        font-size: 1.75rem;
        font-weight: inherit;
        height: 46px;
        padding: 0 1rem;
    }
    
    input {
        background-color: #333;
        border-color: #fff;
        border-radius: 2.5rem;
        border-style: solid;
        border-width: 2px;
        color: inherit;
        cursor: text;
        font-family: inherit;
        font-size: 1.75rem;
        font-weight: inherit;
        height: 46px;
        padding: 0 1rem;
    }

    input.lightMode:hover {
        background-color: #fff;
    }

    input:hover {
        background-color: #444;
    }

    input.lightMode:focus {
        background-color: #ddd;
    }

    input:focus {
        background-color: #222;
        outline: none;
    }
}

select {
    background-color: #eee;
    border-color: #444;
    border-radius: 1.75rem;
    border-style: solid;
    border-width: 2px;
    color: #444;
    cursor:pointer;
    font-family: inherit;
    font-size: 1.75rem;
    font-weight: inherit;
    padding: 0 1rem;
}

select.darkMode{
    background-color: #333;
    border-color: #fff;
    border-radius: 1.75rem;
    border-style: solid;
    border-width: 2px;
    color: #fff;
    cursor:pointer;
    font-family: inherit;
    font-size: 1.75rem;
    font-weight: inherit;
    padding: 0 1rem;
}

select:hover {
    background-color: #fff;
}

select.darkMode:hover {
    background-color: #444;
}

select:active{
    background-color: #ddd;
}

select.darkMode:active {
    background-color: #222;
}

@media (prefers-color-scheme: dark) {
    select.lightMode {
        background-color: #eee;
        border-color: #444;
        border-radius: 1.75rem;
        border-style: solid;
        border-width: 2px;
        color: #444;
        cursor:pointer;
        font-family: inherit;
        font-size: 1.75rem;
        font-weight: inherit;
        height: 50px;
        padding: 0 1rem;
    }
    
    select {
        background-color: #333;
        border-color: #fff;
        border-radius: 1.75rem;
        border-style: solid;
        border-width: 2px;
        color: #fff;
        cursor:pointer;
        font-family: inherit;
        font-size: 1.75rem;
        font-weight: inherit;
        height: 50px;
        padding: 0 1rem;
    }
    
    select.lightMode:hover {
        background-color: #fff;
    }
    
    select:hover {
        background-color: #444;
    }
    
    select.lightMode:active{
        background-color: #ddd;
    }
    
    select:active {
        background-color: #222;
    }
}

/* Header */

header {
    margin: 5rem auto;
}

h1, h2 {
    letter-spacing: normal;
    line-height: 50%;
}

/* Navigation */

nav {
    margin: 5rem auto;
}


/* Main: General */

section + hr {
    margin: 5rem auto;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

li {
    list-style-type: square;
    margin: 0.5rem auto;
}

strong {
    font-weight: 700;
}

/* Main: Font Display Control Flex Container */

#displayCtrlFlexContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}


#toggleListGridView {
    flex-basis: 10rem;
    flex-shrink: 0;
}

#modDisplayText {
    flex: 1;
}


#modDisplayFontSize {
    flex-basis: 10rem;
    flex-shrink: 0;
}

@media (max-width: 1080px) {
    #displayCtrlFlexContainer {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    #toggleListGridView {
        flex-grow: 1;
        flex-shrink: 0;
    }
    
    #modDisplayText {
        flex: 1;
    }
    
    
    #modDisplayFontSize {
        flex-grow: 1;
        flex-shrink: 0;
    }
}


/* Main: Font Display */

.listView {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.gridView {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

@media (max-width: 1080px) {
    .gridView {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }
}

.listView div {
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 20px;
}

.gridView div {
    border: 1px solid #999;
    border-radius: 10px;
    padding: 20px;
}

#fontDisplay dt {
    font-size: 1.25rem;
}

#fontDisplay dd {
    display: inline-block;
    font-size: 28px;
    margin: 0.5rem auto;
}

.Thin_100 {
    font-weight: 100;
}

.Light_300 {
    font-weight: 300;
}

.Regular_400 {
    font-weight: 400;
}

.Medium_500 {
    font-weight: 500;
}

.Bold_700 {
    font-weight: 700;
}

.Black_900 {
    font-weight: 900;
}


/* Footer */

footer {
    margin: 5rem auto;
    text-align: center;
}